.avatar {
  position: relative;

  b {
    position: absolute;
    top: 47%;
    left: 50%;
    font-size: 28px;
    transform: translate(-50%, -50%);
  }
}

.whiteBlock {
  width: 460px;
  margin: 0 auto;
}

.twitterLogo {
  position: relative;
  top: 1px;
  display: inline-block;
  margin-right: 6px;
}
