.logoImg {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 5px;
  margin-bottom: 3px;
  transform-origin: 70% 70%;
}

.title {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 22px;
}
